
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


body{
  background: $body-bg;

  font-family: $font-family-sans-serif;

}
.main-page{
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 15fr 3fr;
  grid-template-rows:  100px 50px 2fr 1fr;
  grid-template-areas:
  "header header header"
  "income income income"
  "sidebar-left content sidebar-right "
  "sidebar-left content sidebar-right "
  "footer footer footer";

}

/* HEADER */

header{
  position: sticky; 
  grid-area: header;
  background-color: #fff;
  box-shadow: 0 5px 5px #d8d7d7;
  display: grid;
  grid-template-columns: 4fr 6fr 2fr;
  grid-template-areas:
  "logo menu sign";
  align-items: center;
  padding: 20px;
  grid-gap: 10px;

}
#logo{
  grid-area: logo;
}
#menu{
  grid-area: menu;


}

#menu ul{
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
}
#sign{
  grid-area: sign;
  
  
  
}
#sign ul{
  text-align: right;
  padding: 0;

}

header  ul {
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-flow: column;
}

header a{
  text-decoration: none;
  color: black;
}

header #logo img{
  height: 40px;
  width: 60px;

}

/* SECTION */

#income-box{
  background-color:whitesmoke;
  padding: 10px;
  grid-area: income;
  box-shadow: 0 5px 5px #d8d7d7;
 
}
#income-box ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  text-decoration: none;
  list-style: none;
  text-align: center;
  
  
}
#income-box input{

  padding: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}



/* SIDEBAR LEFT */

#sidebar-left{
  // background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  // background-blend-mode: multiply,multiply;
  grid-area: sidebar-left;
  // text-align: center;

}

#sidebar-left ul, #sidebar-right ul{
  
  margin: 20px;
 
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4fr;
  grid-template-rows: auto;
  grid-auto-flow: row;

}
#sidebar-left li, #sidebar-right li{
  font-weight: bold;
  justify-items: center;
  align-content: center;
}

 #menu a , #sign a, #sidebar-left a, #sidebar-right a{
  color: gray;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  


}

#sidebar-left i{
  font-size: 15px;
  margin-right: 10px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;

}

/* MAIN */

main{
  background-color:whitesmoke;
  grid-area: content;
//   text-align: center;
  padding: 30px;
  
}

/* TABLE */

.scroll{
  overflow-y: auto;
  height: 400px;
}

.table{
  border-collapse: collapse;
  width: 100%;
  
}
.table td, .table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  

}
.table a {
  text-decoration: none;
  color: black;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {
  background-color: #F0AAAA;
  cursor: pointer;
}

.table th {
  position: sticky; 
  top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:$blue;
  color: white;
}





/* SIDEBAR RIGHT */

#sidebar-right{
  grid-area: sidebar-right;

}

/* FOOTER */

footer{
  margin-top: 100px;
  grid-area: footer;
  color: white;
  background-color: rgb(75, 78, 76);
  text-align: center;

}

@media (max-width: 900px) {

 .main-page{

      grid-template-rows: auto;
      grid-template-areas:
      "header "
      "income"
      "sidebar-left"
      "content"
      "sidebar-right"
      "footer"
 }

 #sidebar-left ul{

  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-gap: 0;
  margin: 10px;
  // justify-items: center;
  }
  #sidebar-left li{
    margin: 0;
  }
  #menu ul{
    grid-template-columns: auto;
    grid-auto-flow: column;
    grid-gap: 20px;
  }
  #income-box ul{
    
    grid-template-columns: auto;
    grid-auto-flow: column;
    grid-gap: 10px;
    
    
    
    
  }
 
}




